
h1 {
	color: rgb(2, 132, 130)
	}
h2 {
	color: #ffd700;
	}




.board {
	height: 50%;
	width: 50%;
	display: inline-block;

}

.card {
	height: 200px;
	width:	150px;
	background-color: yellow;
	border: 1px solid black;
	border-radius: 10px;
	float: left;
	margin:	8%;
}

span {
	color: #ff0000;
	text-align: center;
}

nav {
	background-color: #808080;

}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

a {
	background-color: #ffbf00;
	padding: 35px;
	display: block;
	float: left;
	text-decoration: none;
	color: white;
}

a:hover {
	background-color: #ee5f3c;
}

footer {
	background-color: #808080;
}